<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search Student</title>
</head>
<body>
    <form action="{% url 'dispaly' %}" method="POST">
        Phno : <input type="text" name="Phno" id="Phno" value="None"><br>
        Email : <input type="email" name="Email" id="Email" value="None"><br>
        Percentage : <input type="text" name="Percentage" id="Percentage" value="None" pattern="\d{1,3}\.?\d{0,2}"><br>
        YOP : <input type="text" name="YOP" id="YOP" value="None"><br>
        {% csrf_token %}
        <input type="submit" value="Search">
    </form>
</body>
</html>